{% extends "base.html" %}

{% block title %}ログイン{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}


{% block content %}

{% if form.errors  %}
  <div class="alert alert-danger" role="alert">
    <p>ユーザ名かパスワードが間違っています</p>
  </div>
{% endif %}

<h2>ログイン</h2>
<form method="post" role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        メールアドレス
        <input id="id_username" name="username" type="text" value="" maxlength="256" placeholder="Username" autofocus required class="form-control"/>
    </div>
    <div class="form-group">
        <input id="id_password" name="password" type="password" value="" maxlength="256" placeholder="Pasword" required
        class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <input name="next" type="hidden" value="{{ next }}"/>
</form>


{% endblock %}
