{% extends "base.html" %}

{% block title %}profile{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
<!-- プロフィール表示部 -->
<h2>@{{ get_user.username }}</h2>
<small>登録日時:{{ get_user.date_joined }}</small><br>
<small>最終ログイン日時:{{ get_user.last_login }}</small>
{% if get_user.id == user.id %}
<div style="margin-top:30px;">
    プロフィールを編集する
<div>
{% endif %}
<hr>

<!-- ツイート表示部 -->
<h4>ツイート一覧</h4>
{% include "tweet_list.html" %}
{% endblock %}
