{% if tweets %}
    {% for tweet in tweets %}
          <div class="panel panel-primary">
              <div class="panel-body">
                @<a href="{% url 'accounts:profile' user_id=tweet.user_id_id %}">{{ tweet.user_id }}</a>&nbsp;&nbsp;{{ tweet.created_at }}<br>
                {{ tweet.content }}<br>
                <a href="{% url 'twitter:index' %}">返信する</a>&nbsp;
                {% if tweet.user_id_id == user.id %}
                <a href="{% url 'twitter:twi_delete' tweet_id=tweet.id %}">削除する</a>
                {% endif %}
              </div>
          </div>
    {% endfor %}
{% else %}
    <p>まだ何もありません</p>
{% endif %}

<ul class="pagination">
    {% if tweets.has_previous %}
        <li><a href="?page={{ tweets.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% for linkpage in tweets.paginator.page_range %}
        {% ifequal linkpage tweets.number %}
            <li  class="active"><a href="#">{{ linkpage }}</a></li>
        {% else %}
            <li><a href="?page={{ linkpage }}">{{ linkpage }}</a></li>
        {% endifequal %}
    {% endfor %}

    {% if tweets.has_next %}
        <li><a href="?page={{ tweets.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
</ul>
