<script>
$(function() {
  $('.tweet_reply').on('click', function () {
     $("#reply_content").text($(this).attr("content"));
     $("#reply_user").text($(this).attr("user"));
     $("#tweet_created_at").text($(this).attr("created_at"));
  });
});
</script>
{% if tweets %}
    {% for tweet in tweets %}
          <div class="panel panel-primary">
              <div class="panel-body">
                @<a href="{% url 'accounts:profile' user_id=tweet.user_id_id %}">{{ tweet.user_id }}</a>&nbsp;&nbsp;{{ tweet.created_at }}<br>
                {{ tweet.content }}<br>
                <a
                  class="tweet_reply"
                  data-toggle="modal"
                  data-target="#replyModal"
                  id="{{ tweet.id }}"
                  content="{{ tweet.content }}"
                  user="{{ tweet.user_id }}"
                  user_id="{{ tweet.user_id_id }}"
                  created_at="{{ tweet.created_at }}"
                  href="{% url 'twitter:reply' tweet_id=tweet.id %}">返信する</a>&nbsp;
                {% if tweet.user_id_id == user.id %}
                <a href="{% url 'twitter:twi_delete' tweet_id=tweet.id %}">削除する</a>
                {% endif %}
              </div>
          </div>
    {% endfor %}
{% else %}
    <p>まだ何もありません</p>
{% endif %}

<ul class="pagination">
    {% if tweets.has_previous %}
        <li><a href="?page={{ tweets.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    {% for linkpage in tweets.paginator.page_range %}
        {% ifequal linkpage tweets.number %}
            <li  class="active"><a href="#">{{ linkpage }}</a></li>
        {% else %}
            <li><a href="?page={{ linkpage }}">{{ linkpage }}</a></li>
        {% endifequal %}
    {% endfor %}

    {% if tweets.has_next %}
        <li><a href="?page={{ tweets.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
</ul>

{# リプライ用のモーダル ダイアログ #}
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="replyModalLabel">ツイートに返信する</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-primary">
            <div class="panel-body">
                @<a href="#"><span id="reply_user"></span></a>
                &nbsp;&nbsp;
                <span id="tweet_created_at"></span><br>
                <span id="reply_content"></span>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="reply_url">返信する</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
