{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Twitter{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
<!-- twitterのつぶやきフォーム -->
{{ login_user }}
<div class="row">
    <form action="{% url 'twitter:index' %}" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        <div class="form-group">
        {{ form|bootstrap }}
        </div>
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" value="つぶやく">
            </div>
        </div>
    </form>
</div>

<!-- twitterのつぶやき表示 -->
<div class="row">
  {% include "tweet_list.html" %}
</div>
{% endblock %}
